@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-body: #f1f1f1;
  --background-secondary: #ced2cc;
  --background-tab: #1c4e80;
  --text-color: black;
  --sidebar-w: 250px;
  --sidebar-active-text: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #202020;
    --background-secondary: #484848;
    --background-tab: #20283e;
    --text-color: white;
    --sidebar-active-text: white;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
